@model IEnumerable<EmailViewModel>

@{
    ViewData["Title"] = "AllApplications";
}


<link rel="stylesheet" href="~/css/application.css">

<div class="container">
    <div class="card border-0 shadow my-5">
        <div class="card-body p-5 amber-text">
            <h1 class="font-weight-light">List of all emails</h1>
            <!--Have to add more columns.-->
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Sender)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Subject)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.DateReceived)
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var email in Model)
                    {
                        <tr>
                            <td>
                                @email.Sender
                            </td>
                            <td>
                                @email.Subject
                            </td>
                            <td>
                                @email.DateReceived
                            </td>
                            <td>
                                <a asp-controller="Email" asp-action="Application" asp-route-id="@email.Id">Application</a>

                            </td>
                            <td>
                                <input type="button" class="open-close-email btn btn-warning" value="Preview body">
                            </td>
                            <td class="email-container">
                                <div class="email-description">
                                    @await Component.InvokeAsync("BodyModal", email.Id)
                                </div>
                            </td>
                            <td>
                                <input type="button" class="open-close-email btn btn-warning" value="Status">
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

</div>

@section Scripts{
    <script type="text/javascript" src="~/js/all-applications.js"></script>
}
