@model IEnumerable<EmailViewModel>

@{
    ViewData["Title"] = "AllApplications";
}


<link rel="stylesheet" href="~/css/application.css">

<div class="container">
    <div class="card border-0 shadow my-5">
        <div class="card-body p-5 amber-text">
            <h1 class="font-weight-light">List of all emails</h1>
            <!--Have to add more columns.-->
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Id)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.DateReceived)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Sender)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Subject)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.EmailStatusName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Attachments)
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var email in Model)
                    {
                        <tr>
                            <td>
                                @email.Id
                            </td>
                            <td>
                                @email.DateReceived
                            </td>
                            <td>
                                @email.Sender
                            </td>
                            <td>
                                @email.Subject
                            </td>
                            <td>
                                @email.EmailStatusName
                            </td>
                            <td>
                            </td>
                            <td>
                                <a asp-controller="Email" asp-action="Application" asp-route-id="@email.Id">Preview email</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>