@model EmailViewModel

@{
    ViewData["Title"] = "Application";
}

<link rel="stylesheet" href="~/css/application.css">

<div class="container">
    <div class="card border-0 shadow my-5">
        <div class="row application-form-holder">
            <div class="col-8 card-body p-5 amber-text">
                <h4>Details for @Model.Sender 
                @*<button type="submit" class="btn rigth-button button-color">Status</button>*@ 
                <input type="button" class="btn btn-outline-success" id="show-or-hide-button-form" value="Show form">
                </h4>

                <div>
                    <dl class="row">
                        <dt class="col-sm-4">
                            @nameof(Model.Sender)
                        </dt>
                        <dd class="col-sm-8">
                            @Model.Sender
                        </dd>
                        <dt class="col-sm-4">
                            @nameof(Model.Subject)
                        </dt>
                        <dd class="col-sm-8">
                            @Model.Subject
                        </dd>
                        <dt class="col-sm-4">
                            @nameof(Model.DateReceived)
                        </dt>
                        <dd class="col-sm-8">
                            @Model.DateReceived
                        </dd>
                        <dt class="col-sm-4">
                            @nameof(Model.Body)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.Raw(Model.Body)
                        </dd>
                    </dl>
                </div>
            </div>
            <div class="col-4" id="application-form-div">
                <partial name="_AppFormPartial" model="new LoanApplicationViewModel { EmailId = Model.Id }" />
            </div>
        </div>
    </div>
</div>


@section Scripts{
<script type="text/javascript" src="~/js/application-form.js"></script>
}
