@model EmailViewModel

@{
    ViewData["Title"] = "Application";
}

<link rel="stylesheet" href="~/css/application.css">

<div class="container">
    <div class="card border-0 shadow my-5">
        <div class="row">
            <div class="col-9 card-body p-5 amber-text">
                <h4>Details for @Model.Sender <button type="submit" class="btn rigth-button button-color">Status</button></h4>
                 <a area="" asp-controller="LoanApplication" asp-action="ApplicationForm" asp-route-emailId="@Model.Id">data</a>
                <div>
                    <hr />
                    <dl class="row">
                        <dt class="col-sm-4">
                            @nameof(Model.Sender)
                        </dt>
                        <dd class="col-sm-8">
                            @Model.Sender
                        </dd>
                        <dt class="col-sm-4">
                            @nameof(Model.Subject)
                        </dt>
                        <dd class="col-sm-8">
                            @Model.Subject
                        </dd>
                        <dt class="col-sm-4">
                            @nameof(Model.DateReceived)
                        </dt>
                        <dd class="col-sm-8">
                            @Model.DateReceived
                        </dd>
                        <dt class="col-sm-4">
                            @nameof(Model.Body)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.Raw(Model.Body)
                        </dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>
</div>



