@model EmailViewModel

@{
    ViewData["Title"] = "Email Preview";
}

<link rel="stylesheet" href="~/css/application.css">

<div class="container" style="margin-left:3%">
    <p>
        <h2>
            "@Model.Subject" <br />
            By @Model.Sender
        </h2>
        <br />
        <h3>Current Status: <span style="color: #e66b00">@Model.EmailStatusName</span></h3>

    </p>
    <h6>
        @if (User.IsInRole("Operator"))
        {
            <partial name="_ApplicationOperatorButtons" model="@Model" />
        }
        @if (User.IsInRole("Manager"))
        {
            <partial name="_ApplicationManagerButtons" model="@Model" />
        }
    </h6>
    <br />
    <div>
        <dl class="row">
            <dt class="col-sm-2">
                Data Received:
            </dt>
            <dd class="col-sm-10">
                @Model.DateReceived
            </dd>
            <partial name="_EmailPreviewAttachmentsPrint" model="@Model" />
            <dt class="col-sm-2">
                Body:
            </dt>
            <dd class="col-sm-4" style="overflow-wrap: break-word;">
                @Html.Raw(Model.Body)
            </dd>
        </dl>
    </div>
</div>
<div class="col-4" id="application-form-div">
    <partial name="_AppFormPartial" model="new LoanApplicationViewModel { EmailId = Model.Id }" />

</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}