@model IEnumerable<EmailViewModel>
@{
    var color = "darkgrey";
}

<div class="content">
    <div class="container-fluid">
        <table id="application-form-div" class="table table-striped table-bordered" style="width:100%">
            <thead>
                <tr>
                    <partial name="_ListEmailsHeadPartial" />
                </tr>
            </thead>
            <tbody>
                @foreach (var email in Model)
                {
                    @if (email.EmailStatusName.Contains("Invalid"))
                    {
                        color = "darkgrey";
                    }
                    else
                    {
                        color = "black";
                    }
                    <tr style="color:@color">
                        <partial name="_ListEmailsBodyPartial" model="@email" />
                        @if (Model.Any(e => e.EmailStatusName.StartsWith("Not")))
                        {
                            <td>
                                @email.EmailStatusName
                            </td>
                            <td>
                                @if (email.Attachments.Any())
                                {
                                    <i class="fas fa-check" style="font-size:18px; text-align:center"></i>
                                }
                            </td>

                        }
                        else
                        {
                            @if (Model.Any(e => e.EmailStatusName.StartsWith("New")))
                            {
                                <td>
                                    @email.ModifiedOnDate
                                </td>
                            }
                            @if (Model.Any(e => e.EmailStatusName.StartsWith("Open")))
                            {
                                <td>
                                    @email.ModifiedOnDate
                                </td>
                                @if (User.IsInRole("Manager"))
                                {
                                    <td>
                                        @email.ModifiedByUserName
                                    </td>
                                }
                            }
                            @if (Model.Any(e => e.EmailStatusName.StartsWith("Closed")))
                            {
                                <td>
                                    @email.ApplicationStatus
                                </td>
                                @if (User.IsInRole("Manager"))
                                {
                                    <td>
                                        @email.ModifiedByUserName
                                    </td>
                                }
                            }
                        }

                        <td>
                            <div>
                                <a asp-controller="Email" asp-action="Application" asp-route-id="@email.Id" style="color: #e66b00">Preview email</a>
                            </div>

                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

